{% extends 'nav_bar.html' %}
{% load static %}

{% block content %}
    <div class="content_txt">
        Witaj w aplikacji do analizowania sprzedaży.<br/>
        Prace aktualnie są w toku, więc część lub większość funkcji może jeszcze nie działać.<br/><br/>
        Moim celem jest stworzenie aplikacji, która będzie analizowała historię zamówień w firmie fikcyjnej. Mam zamiar wykorzystać do tego Django
        jako interaktywny interfejs użytkownika oraz Pandas i Matplotlib (lub inną bibliotekę) do prezentacji wyników. Dostęp do analizy będzie znajdował się
        w panelu bocznym.<br/>
        Dodatkowo będzie można dodawać swoje własne produkty/zamówienia. Dostęp do tych mechanik będzie znajdował się w panelu górnym.<br/>
        Po ukończeniu wszystkich tych rzeczy zamierzam dodać jeszcze możliwość exportowania oraz importowania danych do/z excela.<br/><br/>

        Wraz z rozwojem aplikacji będę dopisywał do poniższej listy aktualnie dostępne mechaniki:<br/>
        - add_product<br/>

        <br/><br/>
        PS CSSa nauczyłem się tylko trochę, aby sprawić żeby ta strona wyglądała chociaż trochę bardziej znośnie. Owszem, mogłem wykorzystać równie dobrze do tego bootstrapa.
    </div>
{% endblock content %}