{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Your Title</title>
</head>

<div class="title">
    <h2>Sales Analysis</h2>
</div>
<div class="navbar">
    <div class="navbar_add">
        <h3>Add Product</h3>
        <h3>Add Customer</h3>
        <h3>Add Order</h3>
    </div>

    <div class="navbar_login">
        <h3>Login</h3>
    </div>

    <div class="navbar_excel">
        <h3>Import data from excel</h3>
        <h3>Export data to excel</h3>

    </div>
</div>
<hr>


{% block left_bar %}

{% endblock left_bar %}
