{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Your Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>

<div id="conatiner">
        <div id="logo">
            <a href="{% url 'home' %}">Sales Analysis</a>
        </div>
        <div id="topbar">
                <div class="topbar_option"><a href="/add-product">Add-Product</a></div>
                <div class="topbar_option"><a href="/add-customer">Add-Customer</a></div>
                <div class="topbar_option"><a href="/add-order">Add-Order</a></div>
                <div class="topbar_option">Import data from excel</div>
                <div class="topbar_option">Export data to excel</div>
                <div class="topbar_option" style="float: right">Login</div>
                <div style="clear:both"></div>
        </div>

        <div id="sidebar">
            <div class="sidebar_option">Analysis</div>
            <div class="sidebar_option">Raports</div>
            <div class="sidebar_option">Selling prediction</div>
            <div class="sidebar_option">Data</div>
        </div>
        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>
        <div id ="footer">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
</div>