/* navbar */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 2%;
    margin-left: 2%;
}
.navbar_add {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    white-space: nowrap;
    margin-top: auto;
}
.navbar_login {
     display: flex;
     justify-content: flex-end;
     flex: 1;
     margin-top: auto;
     margin-right: 5%;
}
.navbar_add h3:first-child {
    margin-left: 5%;
}
.navbar_add h3,
.navbar_login h3 {
    margin: 10px;
}
.navbar_excel {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.navbar_excel h3 {
    margin-bottom: 0;
}
/* navbar */

.all_without_navbar {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 20px;
    align-items: flex-start;
}

.left_bar {
    /* Stylizacja dla lewej belki, w razie potrzeby */
}

.content {
    /* Stylizacja dla zawartości, w razie potrzeby */
}

.left_bar_analysis,
.left_bar_raports,
.left_bar_list {
    /* Stylizacja dla poszczególnych sekcji w lewej belce, w razie potrzeby */
}

/* Dodaj grid-template-areas, aby kontrolować układ sekcji wewnątrz kontenera .all_without_navbar */
.left_bar {
    grid-area: left_bar;
}

.content {
    grid-area: content;
}

/* Nadaj odpowiednie grid-area dla sekcji w lewej belce */
.left_bar_analysis {
    grid-area: left_bar_analysis;
}

.left_bar_raports {
    grid-area: left_bar_raports;
}

.left_bar_list {
    grid-area: left_bar_list;
}

