.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 2%;
    margin-left: 2%;
}
.navbar_add {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    white-space: nowrap;
    margin-top: auto;
}
.navbar_login {
     display: flex;
     justify-content: flex-end;
     flex: 1;
     margin-top: auto;
     margin-right: 5%;
}
.navbar_add h3:first-child {
    margin-left: 5%;
}
.navbar_add h3,
.navbar_login h3 {
    margin: 10px 10px;
}
.navbar_excel {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.navbar_excel h3 {
    margin-bottom: 0;
}

