.header-container {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
.header-container h3 {
    margin-right: 4%;
}
.header-container h3:first-child {
    margin-left: 5%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
